*{margin: 0;padding: 0;outline: 0;}
body {
	font-family: 'Josefin Slab', serif;
	font-size: 14px;
	position: relative;
	line-height: 14px;
	color: #000;
	background: url("images/background.png") repeat fixed 0 0 #fff;
	word-spacing: 3px;
}

.clear {overflow: hidden;}
.template {width: 960px; background-color: #ddd; margin: 0 auto;}

.header {
	background-color: #D7A20C;
	color: #FFF;
}
.navbar {
	background: #C69B28;
}

#active {
	background: #E59A10;
}

#active:hover {
	cursor: default;
}
.slidersection {
	margin-bottom: 3px;
}

table td:first-child {
	text-align: right;
	font-size: 17px;
	width: 150px;
}

.logo {float: left;width: 500px;}
.logo img {
	float: left;
	width: 86px;
	padding: 9px 9px 7px 13px;
}

.logo h2 {
	color: #fff;
	font-size: 32px;
	margin-bottom: 11px;
	margin-top: 24px;
	text-shadow: 2px 2px 0 #666;
}
.logo p {}

.social {
	float: right;
	padding: 22px 11px;
}
.social img {
	height: 44px;
	padding: 4px;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 2px;
}
.navbar ul li {display: block; float: left;}

.navbar ul li a {
	color: #444;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	padding: 7px 13px;
	text-decoration: none;
	border: 1px solid #E99E29;
}
	
.navbar ul li a:hover {
	cololor: #fff;
	background: #E59A10;
}
.content {
	background: white;
	margin-bottom: 2px;
	margin-top: 2px;
}

.maincontent {
	width: 656px;
	background: #FDF5E7;
	float: left;
	margin-left: 0;
	padding: 12px;
	border: 1px solid #E5B04B;
}



input[type="text"], input[type="email"] {
	border: 1px solid #CFC5B6;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	width: 426px;
	height: 28px;
	margin-left: 7px;
	font-size: 15px;
}

textarea {
	height: 176px;
	margin-bottom: 10px;
	padding: 5px;
	width: 427px;
	border: 1px solid #CFC5B6;
	margin-left: 7px;
	font-size: 15px;
}

input[type="submit"] {
	background: #DD930C;
	border: 1px solid #E6AF4B;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 2px 10px;
	border-radius: 3px;
	margin-left: 7px;
}


table {
	margin-top: 25px;
	margin-bottom: 14px;
}
input[type="submit"]:hover {
	background: #FEF4E5;
	color: #000;
}

.about {}
.about img {
	width: 300px;
	float: left;
	padding: 5px;
	margin: 0 10px 0 0;
	border: 1px solid #E5B04B;
	background: #fff;
}
.about p {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 10px;
	text-align: justify;
}

.relatedpost {
}
.relatedpost h2 {
	background: #E6AF4B;
	border-bottom: 2px solid #B7801C !important;
	color: #000 !important;
	padding-top: 11px;
}
.relatedpost img {
	height: 107px;
	margin-bottom: 7px;
	width: 196px;
}

.relatedpost img:hover {
	opacity: 0.4;
}
.samepost {}
.samepost h2, .about h2 {
	border-bottom: 2px solid #e0d6c7;
	font-size: 25px;
	margin-bottom: 10px;
	padding: 10px;
	color: #ac7511;
}
.samepost img {
	width: 213px;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #9B999A;
	float: left;
	margin-right: 10px;
	padding: 5px;
	border-radius: 3px;
}
.samepost p {
	line-height: 20px;
	text-align: justify;
	font-size: 17px;
}




.sidebar {
	width: 243px;
	background: #FCF3E7;
	float: right;
	padding: 10px;
	border: 1px solid #E5B04B;
}
.readmore {
	float: right;
	margin-top: 10px;
}
.readmore a {
	background: #fff;
	border: 1px solid #E5B04B;
	border-radius: 3px;
	color: #333;
	display: block;
	font-size: 17px;
	padding: 4px 8px;
	text-decoration: none;
}
.readmore a:hover {
	background: #E5B04B;
	color: #fff;

}
.sidebar p {}
.samesidebar h2 {
	padding: 10px;
	color: #fff;
	background: #E5B04B;
	margin-bottom: 5px;
	border-bottom: 1px solid #E56103;
}
.samesidebar {margin-bottom: 8px;}
.samesidebar ul {padding: 0; margin: 0; list-style: none;}
.samesidebar ul li {
	font-size: 16px;
	padding: 5px 8px 5px 0;
	border-bottom: 1px dashed #D7A20C;
}
.samesidebar ul li:last-child {
	border-bottom: 0px dashed #D7A20C;
}
.samesidebar ul li a {
	color: #814A00;
	text-decoration: none;
}
.samesidebar ul li a:hover {color: #DF5C25;}

.samesidebar p {
	margin-bottom: 7px;
	border-bottom: 1px solid #fff;
	text-align: justify;
	font-size: 16px;
}

.popular {}
.popular h3{
	border-bottom: 1px dashed #B7801C;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px 0;
}
.popular h3 a{
	text-decoration: none;
	color: #444;
}
.popular img{
	background: #fff;
	border: 1px solid #F6BF5B;
	border-radius: 30px;
	float: left;
	height: 40px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 3px;
	width: 55px;
}
.popular p{}

.footer {height: 90px;background: #D7A20C;}
.footer_menu {
	margin-top: 25px;
	margin-bottom: 5px;
}
.footer_menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.footer_menu ul li {display: inline-block;}
.footer_menu ul li a {
	color: #E6D64B;
	font-size: 18px;
	margin-right: 5px;
}

.footer p {
	text-align: center;
	font-size: 16px;
	position: relative;
}

.footer p span {
	font-size: 22px;
	vertical-align: text-bottom;
	letter-spacing: -1px;
	/* position: relative; */
	/* top: 24%; */
}




.fixedicon {
	position: fixed;
	width: 56px;
	left: 0;
	top: 175px;
}
.fixedicon a {
	margin-bottom: 5px;
	border: 1px solid #3e5b75;
	display: inline-block;
	margin-left: 3px;
	padding: 0px 2px;
	border-radius: 3px;
}
.fixedicon img {
	width: 45px;
}


